@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  --widthSidebar: 280px;
  --primaryColor: #162539;
  --activeColor: #1890ff;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffff;
}
